USE [master]
GO
/****** Object:  Database [LibraryMgm]    Script Date: 11/19/2024 7:24:09 PM ******/
CREATE DATABASE [LibraryMgm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryMgm', FILENAME = N'D:\sql_server_db\LibraryMgm\LibraryMgm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryMgm_log', FILENAME = N'D:\sql_server_db\LibraryMgm\LibraryMgm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Arabic_CI_AI
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryMgm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryMgm]
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_EXISTS_BOOK]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_EXISTS_BOOK]
(
	@Name NVARCHAR(128),
	@Id INT = NULL
)
RETURNS BIT
AS
BEGIN

	IF (EXISTS
	(SELECT COUNT(1) FROM dbo.Book
		WHERE [Name] = @Name AND (@Id IS NULL OR Id <> @Id)))
		RETURN 1;
	RETURN 0
	
END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_EXISTS_TRANSLATOR]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_EXISTS_TRANSLATOR]
(
	@FirstName NVARCHAR(32),
	@LastName NVARCHAR(32),
	@Id INT = NULL
)
RETURNS BIT
AS
BEGIN

	IF (EXISTS
	(SELECT COUNT(1) FROM dbo.Translator
		WHERE FirstName = @FirstName AND LastName = @LastName AND
		(@Id IS NULL OR Id <> @Id)))
		RETURN 1;
	RETURN 0
	
END
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) COLLATE Arabic_CI_AI NOT NULL,
	[Year] [int] NOT NULL,
	[Publisher] [nvarchar](128) COLLATE Arabic_CI_AI NOT NULL,
	[TranslatorId] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translator]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](32) COLLATE Arabic_CI_AI NOT NULL,
	[LastName] [nvarchar](32) COLLATE Arabic_CI_AI NOT NULL,
	[Location] [nvarchar](128) COLLATE Arabic_CI_AI NULL,
 CONSTRAINT [PK_Translator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Year], [Publisher], [TranslatorId]) VALUES (1, N'کتاب تست', 1390, N'ناشر 1', 1)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Translator] ON 

INSERT [dbo].[Translator] ([Id], [FirstName], [LastName], [Location]) VALUES (1, N'علی', N'نصیری', N'کاشان')
SET IDENTITY_INSERT [dbo].[Translator] OFF
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Translator] FOREIGN KEY([TranslatorId])
REFERENCES [dbo].[Translator] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Translator]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_BOOK]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_BOOK]
	@Id INT
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM dbo.Book WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_TRANSLATOR]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_TRANSLATOR]
	@id INT
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM dbo.Translator WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_BOOK]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_BOOK]
	@Name nvarchar(128),
	@Year INT,
	@Publisher nvarchar(128),
	@TranslatorId int
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO dbo.Book
	(
	    [Name],
	    [Year],
	    Publisher,
	    TranslatorId
	)
	VALUES
	(   @Name, -- Name - nvarchar(128)
	    @Year,   -- Year - int
	    @Publisher, -- Publisher - nvarchar(128)
	    @TranslatorId    -- TranslatorId - int
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TRANSLATOR]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_TRANSLATOR]
	@FirstName nvarchar(32),
	@LastName nvarchar(32),
	@Location nvarchar(128)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Translator
	(
	    FirstName,
	    LastName,
	    Location
	)
	VALUES
	(   @FirstName, -- FirstName - nvarchar(32)
	    @LastName, -- LastName - nvarchar(32)
	    @Location -- Location - nvarchar(128)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_BOOK]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_BOOK]
AS
BEGIN
	SELECT b.Id,
           b.Name,
           b.Year,
           b.Publisher,

           t.FirstName + ' ' + t.LastName TranslatorName
		   FROM dbo.Book b
		   INNER JOIN dbo.Translator t ON t.Id = b.TranslatorId
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_TRANSLATOR]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_TRANSLATOR]


AS
BEGIN
	SET NOCOUNT ON;

	SELECT Id,
           FirstName,
           LastName,
           [Location]
		   FROM dbo.Translator
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_BOOK]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_BOOK]
	@Id INT,
	@Name nvarchar(128),
	@Year INT,
	@Publisher nvarchar(128),
	@TranslatorId INT
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE dbo.Book SET
	[Name] = @Name,
	[Year] = @Year,
	Publisher = @Publisher,
	TranslatorId = @TranslatorId
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_TRANSLATOR]    Script Date: 11/19/2024 7:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_TRANSLATOR]
	@Id INT,
	@FirstName nvarchar(32),
	@LastName nvarchar(32),
	@Location nvarchar(128)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE dbo.Translator SET
		FirstName = @FirstName,
	    LastName = @LastName,
	    [Location] = @Location
	WHERE Id = @Id
END
GO
USE [master]
GO
